
/** {*/
/*    border: 1px solid red;*/
/*}*/



body {
    background-color: #FFFFFF;
    color: #2a2a2a;
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

a {
    color: #a62629;
}

.menu {
    display: flex;
}

.menu-item {
    flex-grow: 1;
    text-align: center;
    list-style-type: none;

}

.menu-item > a {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    color: white;
    background-color: #3d3aa6;
    box-shadow: 4px 4px 5px black;
}

.button {
    /*text-align: center;*/
    list-style-type: none;
}

.button > a {


    text-decoration: none;
    display: inline-block;
    padding: 20px;
    color: white;
    background-color: #3d3aa6;
    box-shadow: 4px 4px 5px black;
}


.logo {

}




.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    order: integer;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;

    background-color: #e6e6e6;
    display: block;

    box-shadow: 4px 4px 5px #91baba;

    margin: 10px;
    padding: 20px;

}

.special-item {
    flex-grow: 2;

}


.header {
    background-color: #212529;
    display: block;

    margin: 0 auto;

    padding: 10px;

    width: calc(100% - 2 * 10px);
    height: auto;
}

.footer {
    background-color: #212529;
    display: inline-block;
    color: white;

    margin: 0 auto;

    padding: 20px 100px;

    width: calc(100% - 2 * 100px);
    height: auto;
}

